<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Display</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <article class="message is-info mt-5">
                <div class="message-header">
                    <p>公告</p>
                </div>
                <div class="message-body">
                    欢迎来到我们的商品展示页面！请随时查看我们的新产品和优惠信息。
                </div>
            </article>

            <h1 class="title has-text-centered">Product Showcase</h1>
            <div class="columns is-multiline">
                {{range .products}}
                <div class="column is-one-third">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">{{.Name}}</p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {{.Description}}<br>
                                <strong>{{.Price}}</strong>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/item/{{.ID}}" class="card-footer-item">购买</a>
                        </footer>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script type="module" src="/public/index.js"></script>
</body>

</html>